<h1>記事一覧</h1>
<ul class="articles-list">
  <% @articles.each do |article| %>
    <li class="article-item">
      <%= link_to article_path(article) do %>
        <% if article.thumbnail? %>
          <%= image_tag article.thumbnail.url, alt: article.title, class: "thumb" %>
        <% end %>
        <h2><%= article.title %></h2>
        <p class="date"><%= article.published_on.strftime("%Y/%m/%d") %></p>
      <% end %>
    </li>
  <% end %>
</ul>