<nav data-controller="menu" class="navbar navbar-dark bg-transparent sticky-top">
  <div class="container-fluid justify-content-end">
    <!-- 開くボタン -->
    <button type="button"
            data-action="click->menu#toggle"
            data-menu-target="icon"
            class="menu-button border-0 bg-transparent">
      <span class="menu-icon"></span>
    </button>
  </div>

  <!-- メニュー本体 -->
  <div data-menu-target="panel" class="menu-panel position-fixed top-0 end-0 vh-100 bg-white shadow">
    <!-- 閉じるボタン -->
    <button type="button"
            class="btn-close m-3 ms-auto d-block"
            data-action="click->menu#toggle"
            aria-label="Close menu"></button>

    <ul class="list-unstyled p-3">
      <!-- 公開ページへのリンク -->
      <li class="mb-2">
        <%= link_to "TOP", root_path, class: "text-decoration-none text-dark fs-5" %>
      </li>
      <li class="mb-2">
        <%= link_to "Create Caption Photo", new_photograph_path, class: "text-decoration-none text-dark fs-5 mb-4" %>
      </li>
      <li class="mb-2">
        <%= link_to "写真について", articles_path, class: "text-decoration-none text-dark fs-5 mb-4" %>
      </li>

    </ul>
  </div>
</nav>