<div>
  <h1 class="display-3 mb-5">сѓдсѓйтєЎуюЪ</h1>
</div>

<div>
  <h2>СйюСЙІ­ЪјЅ</h2>
</div>

<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">
    <!-- сѓцсЃ│сѓИсѓ▒сЃ╝сѓ┐сЃ╝ -->
    <div class="carousel-indicators">
      <button type="button"
              data-bs-target="#homeCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"></button>
      <button type="button"
              data-bs-target="#homeCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button"
              data-bs-target="#homeCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"></button>
    </div>
    <div class="carousel-item active">
      <%= image_tag "/uploads/sample/sample1.jpg", class: "d-block w-100", alt: "сѓ╣сЃЕсѓцсЃЅ1" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "/uploads/sample/sample2.jpg", class: "d-block w-100", alt: "сѓ╣сЃЕсѓцсЃЅ2" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "/uploads/sample/sample3.jpg", class: "d-block w-100", alt: "сѓ╣сЃЕсѓцсЃЅ3" %>
    </div>
  </div>
</div>

<div>
  <p class="fs-5">
    тєЎуюЪсЂ»УфъсѓЅсЂфсЂё<br>
    сѓѓсЂБсЂесѓѓсѓЅсЂЌсЂЈсЂхсѓІсЂЙсЂє<br>
    сЂЮсѓїсЂБсЂйсЂЈУдІсЂЏсѓІсЂЊсЂесЂ»тЙЌТёЈсЂфсѓѕсЂєсЂа
  </p>

  <p class="fs-5">
    сЂЕсЂЊсЂЙсЂДТёЈтЏ│сЂЌсЂдсЂЕсЂЊсЂІсѓЅтЂХуёХсЂІ<br>
    сѓЈсЂІсѓЅсЂфсЂёсЂЙсЂЙуй«сЂёсЂдсЂЉсЂ╝сѓі
  </p>

  <p class="fs-5">
    сЂєсЂЙсЂёсЂЊсЂесѓёсѓІсЂГсђЂТєјсЂёсЂГ№╝Ђ
  </p>

  <p class="fs-5">
    сЂасЂБсЂЪсѓЅсЂЮсѓїсѓњжђєТЅІсЂФсЂесЂБсЂд<br>
    сђїтєЎуюЪсђЇсѓњтѕЕућесЂЌсЂдсђїсѓдсѓйсђЇсѓњ<br>
    сЂДсЂБсЂАсЂѓсЂњсЂдсЂ┐сЂдсЂ»сЂЕсЂєсЂасѓЇсЂє
  </p>

  <p class="fs-5">
    тєЎуюЪсЂИсЂ«ТёЏуЮђсЂетЈЇуЎ║сЂе<br>
    сЂАсѓЄсЂБсЂесЂЌсЂЪсЂёсЂЪсЂџсѓЅт┐ЃсЂД
  </p>

  <p class="fs-5">
    ТёЈтЉ│сЂѓсѓісЂњсЂфСИђсѓ│сЃъсЂ«сѓѕсЂєсЂФ<br>
    ТђЮсЂёсЂїсЂЉсЂфсЂёсѓбсѓ»сѓисЃЄсЃ│сЃѕсЂ«сѓѕсЂєсЂФРюе№ИЈ
  </p>
</div>

<div class=" text-center my-4">
  <%= render "shared/button", label: "Create", path: new_photograph_path %>
</div>