<div class="carousel" data-controller="carousel">

</div>

<div class="home-text">
  <h1>ウソ写真</h1>
  <p>これはテキストです。…</p>
  <p>これはテキストです。…</p>
  <p>これはテキストです。…</p>
</div>

<div class="home-create-btn">

</div>